body{
    background: url(../img/waiting.jpg);
    background-size: cover;
    background-attachment: fixed
  }
  #title{
    background:center linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),  url(../img/graffiti.jpg);
    background-size: cover;
    background-position: left ;
    background-attachment: scroll;
    

   

  }
  h3{
    font-family: 'Barriecito', cursive;
    background-size: 40px;
    font-stretch: extra-expanded;
      
   color: white;
   -webkit-text-stroke-width: 1px;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
      
      
      
  }
  .card-panel{
   
  }

  h4{
    font-family: 'Bangers', cursive;
    background-size: 40px;
    
   color: rgb(98, 129, 255);
   -webkit-text-stroke-width: 1px;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;


  }

  .hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../img/background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}


h1{
    color:white;
    font-family: 'Barriecito', cursive;
    color: white;
   -webkit-text-stroke-width: 1px;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
   
}
h2{
    color: white;
    font-family: 'Barriecito', cursive;
    color: white;
   -webkit-text-stroke-width: 1px;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
